
<!DOCTYPE html>
<html>
<head>
<title>Bookers2Ver2</title>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="19LBxocZ4ZhRHY1tmwFs9k_Xo5Ow4YKscnKoDmgJx0BQH48Lk4HRXtRgW3GgZvuhrQnd_kwxgEgDcbZamriwGQ" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" media="all" href="/packs/css/application-859f38f5.css" data-turbolinks-track="reload" />
<script src="/packs/js/application-8c498bd08fe3c47f4c35.js" data-turbolinks-track="reload"></script>
</head>
<body>

<main>

<p>
    <%= flash[:notice] %>
</p>

<p id="notice"></p>
<div class='container px-5 px-sm-0'>
<div class='row'>
<div class='col-md-3'>

<!--部分テンプレートできた！！！-->
<%= render partial: "user_info", locals: { user: current_user } %>





<!--部分テンプレート-->
<%= render partial: "new_book_form", locals: { book: @book } %>


<div class='col-md-8 offset-md-1'>
<h2>Users</h2>
<table class='table'>
<thead>
<tr>
<th>image</th>
<th>name</th>
<th colspan="3"></th>
</tr>
</thead>


<tbody>
<% @users.each do |user| %>
<tr>
<td><%= image_tag user.get_profile_image %></td>

<td><%= user.name %></td>
<td><%= link_to "Show", user_path(user) %></td>
</tr>
<% end %>
</tbody>


</table>
</div>
</div>
</div>
</main>
</body>
</html>
