
<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="P7-iNoYlrfDeK_XYKHbNfJrMbi9tfPNw7iSZZMqDC_e4cuz7kr2dNltWI8QTEVoreBIQQpGs8ZSfJ4cwODJ8rg" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" media="all" href="/packs/css/application-859f38f5.css" data-turbolinks-track="reload" />
    <script src="/packs/js/application-8c498bd08fe3c47f4c35.js" data-turbolinks-track="reload"></script>
  </head>
  <body>

<main>

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
       <table class='table'>
  <tr><img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMnZDQXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--31b318e396e47be9db500176f73c45bf19adece7/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVdscGFRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--4a929dbc7794f3c4610ba9ba5402762ad9cd1a14/default-image.jpg" /></tr>
  <tr>
	  <th>name</th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th></th>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_user_path, class: "btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog"></i>
  <% end %>
  </div>

  <h2 class="mt-3">New book</h2>
     <%= form_with(url: '/books', method: 'post') do |f| %>
  <div class="form-group">
    <%= f.label :title, "title" %>
    <%= f.text_field :title, class: "form-control book_title", id: "book_title" %>
  </div>



  <div class="form-group">
    <%= f.label :body, "Opinion" %>
    <%= f.text_area :body, class: "form-control book_body", id: "book_body" %>
  </div>
  <% end %>

  <%= form_with model: @book, local: true do |f| %>
  <div class="form-group">
    <%= f.submit "Create Book", class: "btn btn-success", "data-disable-with" => "Create Book" %>
    </div>
    <% end %>


    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= link_to image_tag("/") %><br>
            </td>

          <td><%= link_to "createした文字を表示する" %></td>
           <td>


           </td>


            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book), class: "btn btn-sm btn-danger" %></td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
      </main>

  </body>
</html>
