
<!DOCTYPE html>
<html>
<head>
<title>Bookers2Ver2</title>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="umVhkMFkMg2IBBoipP7MSM7bf20PPZ8Pj3YeV1CXAz9HGpdBfJgLKG4OyBr9nJZXxCvaM_TmrdatRe4eWWx1XA" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" media="all" href="/packs/css/application-859f38f5.css" data-turbolinks-track="reload" />
<script src="/packs/js/application-8c498bd08fe3c47f4c35.js" data-turbolinks-track="reload"></script>
</head>
<body>

<main>
<p>
<%= flash[:notice] %>
</p>
<div class='row'>
<div class='col-md-3'>


<!--部分テンプレート-->
<%= render partial: "books_info", locals: { book: current_user } %>


<!--部分テンプレート-->
<%= render partial: "new_books_form", locals: { book: @book } %>





<div class='col-md-8 offset-md-1'>
<h2>Book detail</h2>
<table class='table'>
<tr>

<td>
<%= link_to user_path do %>
<%= image_tag @user.profile_image, size: "150x150" %>
<br>
<%= current_user.name %>
<% end %>
</td>

<td><%= link_to @book.title, book_path(@book.id) %></td>
<td><%= @book.opinion %></td>
<td><%= link_to "edit", edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %></td>
<td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>

</tr>
</table>
</div>
</div>
</div>
</main>


</body>
</html>
