<!--サーバー開いた時のページ-->


<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>


    <meta name="csrf-param" content="authenticity_token" />
  　<meta name="csrf-token" content="lAlBRJrBtsHPrj0uN77uesT_Oq7w-sjPchgIawe2G6fIwfwIiHFXxnMK4_q30MrbEjjnlfyBKKtfED5PFkJwfQ" />

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" media="all" href="/packs/css/application-859f38f5.css" data-turbolinks-track="reload" />
    <script src="/packs/js/application-8c498bd08fe3c47f4c35.js" data-turbolinks-track="reload"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<header>

      <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
       <li>
         <%= link_to "新規登録", new_user_registration_path %>
       </li>
       <li>
         <%= link_to "ログイン", user_session_path%>
       </li>
       <% end %>

    </header>
  <main>
    <p id="notice"></p>
    <div class="container">
      <div class="row">
        <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
          <h1>welcome to<i class="fas fa-book"></i><strong>Bookers</strong> !!</h1>
          <p>In  <i class="fas fa-book"></i><strong>Bookers</strong>, </p>
          <p>you can shere and chenge you opinions,inpressions , and emotions</p>
          <p>about various books!</p>


      </div>
    </div>
  </main>

  <footer>
<div class='container mt-5'>
 <div class='row'>
  <div class='mx-auto'>
   <p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
  </footer>

    <%= yield %>
  </body>
</html>
