<!--サーバー開いた時のページ-->


<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>


    <meta name="csrf-param" content="authenticity_token" />
  　<meta name="csrf-token" content="lAlBRJrBtsHPrj0uN77uesT_Oq7w-sjPchgIawe2G6fIwfwIiHFXxnMK4_q30MrbEjjnlfyBKKtfED5PFkJwfQ" />

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" media="all" href="/packs/css/application-859f38f5.css" data-turbolinks-track="reload" />
    <script src="/packs/js/application-8c498bd08fe3c47f4c35.js" data-turbolinks-track="reload"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    </header>
  <main>
    <p id="notice"></p>
    <div class="container">
      <div class="row">
        <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
          <h1>welcome to<i class="fas fa-book"></i><strong>Bookers</strong> !!</h1>
          <p>In  <i class="fas fa-book"></i><strong>Bookers</strong>, </p>
          <p>you can shere and chenge you opinions,inpressions , and emotions</p>
          <p>about various books!</p>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "Log in", "/users/sign_in", class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to "Sign up", "/users/sign_up", class: "btn btn-success btn-sm btn-block sign_up" %>
         </div>
        </div>


      </div>
    </div>
  </main>


    <%= yield %>
  </body>
</html>
